MONGODB_URI=mongodb+srv://shaikshavalimasul_db_user:VJbhBw8LicyTO4GP@ehas1.fphtpq1.mongodb.net/?appName=ehas1
WEATHER_API_KEY=2be201466415e61ddf60d8ca130cb78f
BACKEND_CORS_ORIGIN=http://localhost:5173

